In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
results = pd.read_csv('/home/yaroslav/PycharmProjects/Algorithms/Numerical_methods/Differential equations_Boundary_Task/results.csv')

In [15]:
results.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Y_real</th>
      <th>Y_prediction</th>
      <th>Error</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-0.449068</td>
      <td>-0.449106</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-0.448995</td>
      <td>-0.449033</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-0.448922</td>
      <td>-0.448960</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-0.448849</td>
      <td>-0.448887</td>
      <td>0.000038</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-0.448776</td>
      <td>-0.448814</td>
      <td>0.000038</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
results.tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Y_real</th>
      <th>Y_prediction</th>
      <th>Error</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9996</th>
      <td>0.451123</td>
      <td>0.451067</td>
      <td>0.000055</td>
    </tr>
    <tr>
      <th>9997</th>
      <td>0.451229</td>
      <td>0.451174</td>
      <td>0.000055</td>
    </tr>
    <tr>
      <th>9998</th>
      <td>0.451336</td>
      <td>0.451280</td>
      <td>0.000055</td>
    </tr>
    <tr>
      <th>9999</th>
      <td>0.451442</td>
      <td>0.451387</td>
      <td>0.000055</td>
    </tr>
    <tr>
      <th>10000</th>
      <td>0.451549</td>
      <td>0.451493</td>
      <td>0.000055</td>
    </tr>
  </tbody>
</table>
</div>